name: Preprocess Dataset

on:
  push:
    branches:
      - main

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_Satriana.py

      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: processed_dataset
          path: preprocessing/studentsperformance_preprocessing/StudentsPerformance_preprocessing.csv
